<div class="row">
    <div class="span2"><label for="description"><%= I18n.t("properties.additional_information.description")%>:</label></div>
    <div class="span4"><textarea rows="5" id="description" name="description" type="text"></textarea></div>
</div>
<div class="row">
    <div class="span2"><label for="website"><%= I18n.t("properties.additional_information.website")%>:</label></div>
    <div class="span2"><input id="website" name="website" type="text" AUTOCOMPLETE=OFF /></div>
</div>
<div class="row">
    <div class="span2"><label for="mail"><%= I18n.t("properties.additional_information.email")%>:</label></div>
    <div class="span2"><input id="mail" name="mail" type="text" AUTOCOMPLETE=OFF /></div>
</div>
 <div class="row">
    <div class="span2"><label for="phoneNumber"><%= I18n.t("properties.additional_information.phone")%>:</label></div>
    <div class="span2"><input id="phoneNumber" name="phone" type="text" AUTOCOMPLETE=OFF /></div>
</div>