<div class="row">
    <div class="span2"> <label for="description">Beschreibung:</label></div>
    <div class="span4"> <textarea rows="5" id="description" name="description" type="text"></textarea></div>
</div>
<div class="row">
    <div class="span2"> <label for="website">Webseite:</label> </div>
    <div class="span2">  <input id="website" name="website" type="text" AUTOCOMPLETE=OFF /></div>
</div>
<div class="row">
    <div class="span2"> <label for="email">E-mail:</label> </div>
    <div class="span2">  <input id="email" name="e-mail" type="text" AUTOCOMPLETE=OFF /></div>
</div>
 <div class="row">
    <div class="span2"> <label for="phoneNumber">Telefonnummer:</label> </div>
    <div class="span2">  <input id="phoneNumber" name="phoneNumber" type="text" AUTOCOMPLETE=OFF /></div>
</div>