<ul>
    <li><label class="checkbox"><input type="checkbox" name="productCategory" value="0">Milchprodukte</label></li>
    <li><label class="checkbox"><input type="checkbox" name="productCategory" value="1">Obst und Gemüse</label></li>
    <li><label class="checkbox"><input type="checkbox" name="productCategory" value="2">Fisch</label></li>
    <li><label class="checkbox"><input type="checkbox" name="productCategory" value="3">Fleisch</label></li>
    <li><label class="checkbox"><input type="checkbox" name="productCategory" value="4">Eier</label></li>
    <li><label class="checkbox"><input type="checkbox" name="productCategory" value="5">Konserven</label></li>
    <li><label class="checkbox"><input type="checkbox" name="productCategory" value="6">Getrocknete Waren</label></li>
</ul>