<div class="row">
    <div class="span2"> <label for="name">Name*:</label></div>
    <div class="span2">  <input class="requiredField" id="name" name="name" type="text" AUTOCOMPLETE=OFF /></div>
</div>
<div class="row">
    <div class="span2"> <label for="address">Adresse:</label> </div>
    <div class="span6"> <label id="loadedAddressLabel"><a href="#" id="addresseBestimmenLink">Adresse bestimmen</a></label></div>
</div>
 <div class="row">
    <div class="span2"> 
        <ul>
            <li><label for="shopType">Laden Typ*:</label></li>
        </ul>
    </div>
    <div class="span2"> 
        <%=  render 'choosePOSTypeList' %>
    </div>
</div>
<div class="row">
    <div class="span2"> 
        <ul>
            <li><label for="productCategory">Produktkategorien:</label></li>
            <li>(* mindestens 1)</li>
        </ul>
    </div>
    <div class="span3"> 
        <%=  render 'chooseProductCategoriesList' %>
    </div>
</div>
<div class="row">
    <div class="span2">
        <ul>
            <li><label for="openingDay">Öffnungszeiten:</label></li>
            <li>(* mindestens einen Tag markieren)</li>
        </ul>
    </div>
    <div class="span7" id="openingDaysAndTimesList"> 
        <%=  render 'openingTimesList' %>                           
     </div>
</div>  