<div id="marketStallinformationContainer">
	<!-- TODO: inject from overview -->
	<div class="row">
	   	<a href="#" id="editMarketStall">bearbeiten</a>
	</div>
	<div class="row">
	    <div class="span2"><label>Produktkategorien:</label></div>
	    <div class="span3"><label for="products"></label></div>
	</div>
	<div class="row">
	    <div class="span2"><label>Beschreibung:</label></div>
	    <div class="span6"><label for="description"></label></div>
	</div>
	<div class="row">
	    <div class="span2"><label>Webseite:</label> </div>
	    <div class="span2"><label for="website"></label></div>
	</div>
	<div class="row">
	    <div class="span2"><label>E-mail:</label> </div>
	    <div class="span2"><label for="mail"></label></div>
	</div>
	 <div class="row">
	    <div class="span2"><label>Telefonnummer:</label> </div>
	    <div class="span2"><label for="phone"></label></div>
	</div>
</div>