<div class="row">
    <div class="span2"><label for="name"><%= I18n.t("properties.main_information.name")%>*:</label></div>
    <div class="span2"><input class="requiredField" id="name" name="name" type="text" AUTOCOMPLETE=OFF /></div>
</div>