<div class="row">
    <div class="span2"> <label>Name:</label></div>
    <div class="span2"><label for="name"></label></div>
</div>
<div class="row">
    <div class="span2"> <label>Adresse:</label> </div>
    <div class="span6"> <label for="address"></label></div>
</div>
 <div class="row">
    <div class="span2"><label>Laden Typ:</label></div>
    <div class="span2"><label for="shopType"></label></div>
</div>
 <div class="row invisible" id="marketStallsOverviewRow">
    <div class="span2"><label>Marktstände:</label></div>
    <div class="span2"><label for="marketStalls"></label></div>
</div>
<div class="row">
    <div class="span2"><label>Produktkategorien:</label></div>
    <div class="span3"><label for="productCategories"></label></div>
</div>
<div class="row">
    <div class="span2"><label>Geöffnet am:</label></div>
    <div class="span4"><label for="openingDays">todo</label></div>
</div> 

<div class="row">
    <div class="span2"><label>Beschreibung:</label></div>
    <div class="span6"><label for="description"></label></div>
</div>
<div class="row">
    <div class="span2"><label>Webseite:</label> </div>
    <div class="span2"><label for="website"></label></div>
</div>
<div class="row">
    <div class="span2"><label>E-mail:</label> </div>
    <div class="span2"><label for="e-mail"></label></div>
</div>
 <div class="row">
    <div class="span2"><label>Telefonnummer:</label> </div>
    <div class="span2"><label for="phoneNumber"></label></div>
</div>
<div class="row">
     <div class="span7">
        <button class="btn btn-info" type="button">Bestätigen</button>
    </div>
</div>