<div id ="test"><ul></ul></div>
  <%=  render 'marketStallinformationContainer' %>
<div id="newMarketStallContainer">
    <h4>Neuen Marktstand hinzufügen</h4>
    <%=  render 'marketStallMainInformationForm' %>
    <div class="row">
        <button class="btn btn-info" type="button" id="addAMarketStallButton">Marktstand Hinzufügen
        </button>
    </div>
</div>
<div id="invisibleMarketStallContainer">
    <div id="editdMarketStallContainer">
        <%=  render 'marketStallMainInformationForm' %>
        <div class="row">
            <button class="btn btn-info" type="button" id="confirmEditingMarketStallButton">Änderungen speichern
            </button>
            <button class="btn btn-alert" type="button" id="cancelEditingMarketStallButton">Schliessen
            </button>
        </div>  

    </div>
</div>