<div class="row low" >
    <div class="span7">
        <div class="span2">
            <label class="checkbox"><input type="checkbox" id="allDaysCheckbox" value="all">Alle markieren</label>
        </div>
        <div class="span4">

        </div>
    </div>
</div>
<div class="row low" >
    <div class="span7">
        <div class="span2">
            <label class="checkbox"><input type="checkbox" name="openingDay" value="1">Montag</label>
        </div>
        <div class="span4">
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_from" autocomplete="off" disabled>
            </div>
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_to" autocomplete="off" disabled>
            </div>
        </div>
    </div>
</div>
<div class="row low" >
    <div class="span7">
        <div class="span2">
            <label class="checkbox"><input type="checkbox" name="openingDay" value="2">Dienstag</label>
        </div>
        <div class="span4">
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_from" autocomplete="off" disabled>
            </div>
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_to" autocomplete="off" disabled>
            </div>
        </div>
    </div>
</div>
<div class="row low" >
    <div class="span7">
        <div class="span2">
            <label class="checkbox"><input type="checkbox" name="openingDay" value="3">Mittwoch</label>
        </div>
        <div class="span4">
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_from" autocomplete="off" disabled>
            </div>
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_to" autocomplete="off" disabled>
            </div>
        </div>
    </div>
</div>
<div class="row low" >
    <div class="span7">
        <div class="span2">
            <label class="checkbox"><input type="checkbox" name="openingDay" value="4">Donnerstag</label>
        </div>
        <div class="span4">
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_from" autocomplete="off" disabled>
            </div>
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_to" autocomplete="off" disabled>
            </div>
        </div>
    </div>
</div>
<div class="row low" >
    <div class="span7">
        <div class="span2">
            <label class="checkbox"><input type="checkbox" name="openingDay" value="5">Freitag</label>
        </div>
        <div class="span4">
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_from" autocomplete="off" disabled>
            </div>
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_to" autocomplete="off" disabled>
            </div>
        </div>
    </div>
</div>
<div class="row low" >
    <div class="span7">
        <div class="span2">
            <label class="checkbox"><input type="checkbox" name="openingDay" value="6">Samstag</label>
        </div>
        <div class="span4">
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_from" autocomplete="off" disabled>
            </div>
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_to" autocomplete="off" disabled>
            </div>
        </div>
    </div>
</div>
<div class="row low" >
    <div class="span7">
        <div class="span2">
            <label class="checkbox"><input type="checkbox" name="openingDay" value="0">Sonntag</label>
        </div>
        <div class="span4">
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_from" autocomplete="off" disabled>
            </div>
            <div class="span2">
                <input class="timePickerInput" type="text" name="openingTime_to" autocomplete="off" disabled>
            </div>
        </div>
    </div>
</div>

