<div class="row low" >
    <div class="span7">
        <div class="span2">
            <label class="checkbox"><input type="checkbox" id="allDaysCheckbox" value="all"><%= I18n.t("input.commands.mark_all") %></label>
        </div>
    </div>
</div>
<% I18n.t("date.day_names").each_with_index do |day, index| %>
    <div class="row low" >
        <div class="span7">
            <div class="span2">
                <label class="checkbox"><input type="checkbox" name="openingDay" value="<%= index %>"><%= day %></label>
            </div>
            <div class="span4">
                <div class="span2">
                    <input class="timePickerInput" type="text" name="openingTime_from" autocomplete="off" disabled>
                </div>
                <div class="span2">
                    <input class="timePickerInput" type="text" name="openingTime_to" autocomplete="off" disabled>
                </div>
            </div>
        </div>
    </div>
<% end %>
