<div class="row">
    <div class="span2"> 
        <ul>
            <li><label for="productCategory"><%= I18n.t("properties.main_information.product_categories")%>:</label></li>
            <li><%= I18n.t("instructions.add_a_pos.minimum_note_1")%></li>
        </ul>
    </div>
    <div class="span3"> 
        <%=  render 'productCategoriesList' %>
    </div>
</div>