<div class="newPosHeader">
  <h1>Neuer Verkaufsort</h1>
  <div class = "infoDiv">
  	<p> Wenn du jemanden kennst der lokale Produkte verkauft, schreibe uns eine E-mail an <span>nullkilometer@gmail.com</span> mit folgenden Informationen:</p>
  		<ul>
  			<li><span>Name des Verkaufsorts</span></li>
  			<li><span>Adresse</span></li>
  			<li><span>Kategorie des Verkaufsorts</span>: Laden, Markt, Marktstand, Supermarkt, Bauernhofladen</li>
  			<li><span>Öffnungszeiten</span> (Mindestens Öffnungstag)</li>
  			<li><span>Produktkategorien</span> (Welche Produkte werden da verkauft?)</li>
  			<li>(Wenn vorhanden) <span>Kontakte</span> (Email und Telefonnummer)</li>
  			<li>(Wenn vorhanden) <span>Webseite</span></li>
        <li><span>Beschreibung</span></li>
  		</ul>
  	<p>
  		Wir werden dafür sorgen, dass die Informationen so schnell wie möglich online gestellt werden.
  		<br/>
  		DANKE!
  	</p>
  </div>
</div>