<% if admin_signed_in? %>
  <div class= "col-md-6 col-sm-6 col-xs-6" >
  	<%= link_to(I18n.t("devise.commands.logout"), destroy_admin_session_path, :method => :delete, class: "ordinaryLink") %>
  </div>
<% else %>
  <div class= "col-md-6 col-sm-6 col-xs-6" >
  <%= link_to(I18n.t("devise.commands.login"), new_admin_session_path, class: "ordinaryLink")  %>  
  </div>
<% end %>