<div id="helperMarketStallsContainer" class="helperContainer">	
	<div class="accordion" id="accordion2">
	  	<div class="accordion-group">
		    <div class="accordion-heading">
		      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		        market stall name
		      </a>
		    </div>
		    <div id="collapseOne" class="accordion-body collapse">
			     <div class="accordion-inner">
					<div class="row"><label for="productCategories"></label></div>
					<div class="row"><label for="website">todo</label></div>
					<div class="row">
					        <label for="mail">todo</label>
					        <label for="phone">todo</label>
					</div>
					<div class="row"><label for="description">todo</label></div>
		     	</div>
	    	</div>
	    </div>
	</div>
</div>

