
<div class="row"><label for="address_injected"><%= %></label></div>

<div class="row"><label for="address">todo</label></div>
<div class="row"><label for="productCategories"></label></div>
<div class="row">
    <div class="span2"><label>Geöffnet am:</label></div>
    <div class="span4"><label for="openingTimes">opening days TODO</label></div>
</div> 
<div class="row"><label for="website">todo</label></div>
<div class="row">
        <label for="mail">todo</label>
        <label for="phone">todo</label>
</div>
<div class="row"><label for="description">todo</label></div>
