<div class="input-group" id="addressLookupContainer">
	<input type="text" id="locationInput" class="form-control" type="text" placeholder="<%= I18n.t("input.commands.add_an_address") %>">
  <span class="input-group-addon btn glyphicon glyphicon-search" id="locationSubmit"></span>
</div>
<!-- Button trigger modal -->
<button type="button" id="modalLauncher" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="display: none">
  hidden modal launcher
</button>