<div class="infoDiv" id="homePageText">
	<h1 id='about_main'><%= I18n.t('links.global.about') %></h1>
	<div class="panel panel-default">
	    <div class="panel-heading" id="about_goal">
		    <h4 class="panel-title heading">
		          	Das Ziel    
		    </h4>
		</div>			   	
	    <div>
	      	<div class="row">
				<div class="col-md-3">
					<%= image_tag "logo.png",  alt: "local food is good",  height: '220' %>
				</div>
				<div class="col-md-8">	
							Nullkilometer ist eine Initiative, die zielt, Nachhaltiges Konsum in unserer Gesselschaft zu unterstützen. Dafür bieten wir ein karten-basiertes Web-Tool, das Leuten einen möglichkeit gibt schnell Lokale Produkte in ihren Näher zu finden. Konkret ausgedrückt ist unser Ziel:<br \>
							<p>
							„eine strukturierte, übersichtliche Webseite mit Informationen zu lokalen Produkten”<br \>
							</p>
							Diese Webseite ermöglicht eine intuitive, informative und einfache Suche nach Informationen über lokale Ressourcen für das alltägliche Leben. Prinzipiell geht es um Lebensmittel, die in der näheren Umgebung hergestellt werden.
				</div>
			</div>	
		</div>				
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" id="about_localFood">
	      	<h4 class="panel-title heading">
	          Lokale Lebensmitteln
	      	</h4>
		</div>
	    <div>
			<div class="row">
				<div class="col-md-8">	 
					Über lokale Wirtschaft / Lebensmittel  und Nachhaltigkeit<br \><br \><br \>    
					Eine bereits von uns durchgeführte Umfrage zeigte, dass die meisten Leute bei 
					Lebensmitteln „lokal” mit „regional” gleichsetzen. Daher möchten wir dem Nutzer die 
					Freiheit geben, selber zu bestimmen was für ihn „lokal” ist. Auch wenn wir damit von 
					einem selbst-bestimmten / mündigen Verbraucher ausgehen, so möchten wir ihn da-
					bei durch von uns erarbeitete „Leitlinien” nicht in Gänze alleine lassen. 
				</div>
				<div class="col-md-3">
				</div>
			</div>		
	    </div>
	</div>

	<div class="panel panel-default">
    	<div class="panel-heading" id="about_map">
	      <h4 class="panel-title heading">
	          Kie Karte
	      </h4>
   		</div>
	    <div>
      		<div class="row">
				<div class="col-md-8">	 
			      	<span>Geschäfte auf der Karte.</span>
		 			Das zentrale Objekt der Anwendung stellt eine Strassenkarte dar, auf der Geschäfte, die Produkte aus der Region anbieten, eingezeichnet sind*. Die Karte ist interaktiv und bei Klick auf ein Element erscheint ein Info-Reiter mit Informationen über den Laden (Adresse, Öffnungzeiten, Produktkategorien) und einem link zu Profilseite.
		 			<br \>
					* Als Geschäft bezeichnen wir kommerzielle Verkaufsorte (z.B. Bio-Supermärkte) als auch weniger formale Orte wo diese Produkte direkt von dem Hersteller gekauft werden können (Bauernhöfe). Sie werden in Form einer Markierung sog. “Tag” dargestellt
		 			<br \><br \>
					<span>Filter.</span>
					Es ist möglich, die angezeigten Tags zu filtern. Auswählbar sind eine oder mehrere Laden-  oder Produktkategorien: man kann z.B. bestimmen, welche Typen von Läden (z.B. nur Märkte) angezeigt werden; genau so kann man nur die Läden anzeigen lassen, wo bestimmte Produktkategorien (z.B. Milchprodukte) gefunden werden können.
				</div>
				<div class="col-md-3">
				</div>
			</div>
	    </div>
  	</div>
  	<div class="panel panel-default">
	    <div class="panel-heading" id="about_UGC">    
		    <h4 class="panel-title heading">
		          Nutzergenerierte Inhalte (UGC)
		    </h4>
	    </div>
	    <div>
	    	<div class="row">
	    		<div class="col-md-8">
	      	Die von uns zu schaffende Webseite soll eine Plattform für die – oder auch Schnitt-
	stelle zwischen den – verschiedenen Akteuren lokalen Handels sein. Deswegen setzen 
	wir unter anderem auch auf User-generated Content, was das Prinzip „von Kunden 
	für Kunden” umsetzt. <br \><br \> Wenn sie einen Ort hinzufügen möchten, der lokale Lebensmittelprodukte verkauft, clicken Sie bitte <a href= "/addShop">hier</a>.
	     	 	</div>
	     	 </div>
	    </div>
	</div>
	<div class="panel panel-default">	   
	    <div class="panel-heading" id="about_idea">
	       	<h4 class="panel-title heading">
	         		Die Idee erzählt in 3 Minuten
	      	</h4>
	    </div>
	    <div>
	    	<div class="row">
	    		<div class="col-md-8">	
					<iframe src="https://docs.google.com/presentation/d/1hUNOxEECRvO559Q_o8keSbChsyWGGAdK_UATgK4pb44/embed?start=false&loop=false&delayms=3000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
				</div>
			</div>
	    </div>
	</div>

</div>
	

	  




