<div id="hiddenInfoboxContentContainer">
	<div id="infoboxContent">
		<div class="infoHeader">
			<ul>
				<li class="type">Shop</li>
			  	<li class="title" title="shop">shop</li>
			</ul>
		</div>
		<!--<div class="posLocationDegree">TODO: locality degree</div>-->
		<div class="productCategories">prod cat</div>
		<div class="address">address</div>
		<div class="openingTimes">opening times</div>
		<div class="footer"><a href="" target="_blank" class="ordinaryLink" id="linkToProfilePage"><%= I18n.t("links.global.more_information") %></a></div>
	</div>
</div>