<div id="hiddenInfoboxContentContainer">
	<div id="infoboxContent">
<!-- 		<div class="infoboxHeader"> -->
			<h3 class="title">title</h3>
			<div class="type">type</div>
<!-- 		</div> -->
		<div class="productCategories">prod cat</div>
		<div class="openingTimes">opening times</div>
		<div class="footer"><a href="/profilePage?id=2" target="_blank">mehr Informationen</a></div>
	</div>
</div>