<div id="hiddenInfoboxContentContainer">
	<div id="infoboxContent">
		<div class="infoHeader">
			<ul>
			  	<li class="title">shop3</li>
			 	<li class="type">Shop</li>
			</ul>
		</div>
		<div class="address">address</div>
		<!--<div class="posLocationDegree">TODO: locality degree</div>-->
		<div class="productCategories">prod cat</div>
		<div class="openingTimes">opening times</div>
		<!--TODO: no hardcoded link-->
		<div class="footer"><a href="" target="_blank" class="ordinaryLink" id="linkToProfilePage">mehr Informationen</a></div>
	</div>
</div>