<div id="hiddenInfoboxContentContainer">
	<div id="infoboxContent">
<!-- 		<div class="infoboxHeader"> -->
			<h3 class="title">title</h3>
			<div class="type">type</div>
			<div class="address">address</div>
<!-- 		</div> -->
		<div class="productCategories">prod cat</div>
		<div class="openingTimes">opening times</div>
		<!--TODO: no hardcoded link-->
		<div class="footer"><a href="/api/point_of_sales/22.html" target="_blank" id="linkToProfilePage">mehr Informationen</a></div>
	</div>
</div>