<% content_for :javascript_includes do %>
    <%= javascript_include_tag "home/home.js" %>
    <%= javascript_include_tag "home/map_home.js" %>
<% end %>
<div id="locationinfo"></div>
<div id="activityPannel">
	<button class="btn btn-info" type="button" id="addAPlaceButton">Neuen Verkaufsort Hinzufügen
	</button>
</div>
<div id="mapContainer">
	<div id ="mapFilterContainer">
		<div id="mapFilter" class="hidden">     
		 	<div class="row">
		    	<div class="span2"> 
		      		<p>WAS?</p>
		      		<ul>
		      			<li><label class="checkbox"><input type="checkbox" value="0">Milchprodukte</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="1">Obst und Gemüse</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="2">Fisch</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="3">Fleisch</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="4">Eier</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="5">Konserven</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="6">Brot</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="7">Getrocknete Waren</label></li>
		      		</ul>
		    	</div>
		    	<div class="span2"> 
		      		<p>WO?</p>
		      		<ul>
		      			<li><label class="checkbox"><input type="checkbox" value="0">Laden</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="1">Markt</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="2">Supermarkt</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="3">Kiosk</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="4">Bauernhofladen</label></li>
		      		</ul>
		    	</div>
		    	<div class="span2"> 
		      		<p>WANN?</p>
		      		<ul>
		      			<li><label class="checkbox"><input type="checkbox" value="all">Alle Tage</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="1">Montag</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="2">Dienstag</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="3">Mittwoch</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="4">Donnerstag</label></li>
						<li><label class="checkbox"><input type="checkbox" value="5">Freitag</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="6">Samstag</label></li>
		      			<li><label class="checkbox"><input type="checkbox" value="0">Sonntag</label></li>
		      		</ul>
		    	</div>
		  	</div>
		</div>
		<button class="btn btn-large btn-block" type="button" id="mapFilterButton">Nach Verkaufsort Suchen</button>
	</div>
	<div class="addressLookupContainer">
		<div class="control-group">
			<div class="controls">
		   		<div class="input-prepend">
		      		<input class="span2" id="inputIcon" type="text" placeholder="Adresse eingeben">
		      		<a class="btn" href="#"><i class="icon-search"></i></a>
		   		 </div>
		  	</div>
		</div>
	</div>
	<div id="map"></div>
</div> 