<% content_for :javascript_includes do %>
 <!--   <%= javascript_include_tag "libraries/galleria/galleria-1.3.2.min.js" %>
    <%= javascript_include_tag "libraries/galleria/themes/classic/galleria.classic.min.js" %> -->
    <%= javascript_include_tag "home/map_home.js" %>
<% end %>
<!--<script>
	    Galleria.run('.galleria');
		
</script>
<div class="galleria">
    <img src="http://images4.fanpop.com/image/photos/16100000/Cute-Kitten-kittens-16122946-1280-800.jpg">
    <img src="http://images4.fanpop.com/image/photos/16100000/Cute-Kitten-kittens-16122946-1280-800.jpg">
    <img src="http://images4.fanpop.com/image/photos/16100000/Cute-Kitten-kittens-16122946-1280-800.jpg">
</div> -->
<div class="infoDiv">
	<p><span>Nullkilometer</span> ist eine Initiative, die zielt, Nachhaltiges Konsum in eurer Gesselschaft zu unterstützen. <br \> Dafür bieten wir ein karten-basiertes Web-Tool, das Leuten einen möglichkeit gibt schnell Lokale Produkte in ihren Näher zu finden.
	</p>
	<p><span>Nullkilometer</span> is an initiative that aims to support sustainable consume in our society. <br \> Therefore we offer a map-based web tool, which gives people a possibility to easily look for local products around.
	</p>
	
</div>
<iframe src="https://docs.google.com/presentation/d/1hUNOxEECRvO559Q_o8keSbChsyWGGAdK_UATgK4pb44/embed?start=false&loop=false&delayms=3000" frameborder="0" width="920" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
