<% content_for :javascript_includes do %>
    <%= javascript_include_tag "home/map_home.js" %>
<% end %>
<div class="infoDiv" id="homePageText">
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          The aim
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in">
	      <div class="panel-body">
	       <span>Nullkilometer</span> is an initiative that aims to support sustainable consume in our society. We offer a map-based web tool, which gives people a possibility to easily look for local products around. Our goal is: 
	       	<p>„a structured, clear website with information about local produce” </p> 
			This website enables an intuitive, informative and easy search for information about local ressources for the everyday life. That regards food products, produced in the vicinity.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          What is local? What is regional?
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">
	      From <a href="http://www.sustainabletable.org/254/local-regional-food-systems">www.sustainabletable.org</a>:<br \>
"Commonly, “local food” refers to food produced near the consumer (i.e., food grown or raised within X miles of a consumer). However, because there is no universally agreed-upon definition for the geographic component of what “local” or “regional” means, consumers are left to decide what local and regional food means to them. A 2008 survey found that half of consumers surveyed described “local” as “made or produced within a hundred miles” (of their homes), while another 37% described “local” as “made or produced in my state.”  FThe ability to eat “locally” also varies depending on the production capacity of the region in question: people living in areas that are agriculturally productive year-round may have an easier time sourcing food that is grown or raised 100 miles (or even 50 miles) from their homes than those in arid or colder regions, whose residents may define “local food” in a more regional context."
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	          The map
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	      <div class="panel-body">
	      The central tool of our system is a map which gives an overview of the places offering local products in one’s vicinity. This regards both commercial selling points (for example supermarkets) as well as less formal places where these products can be acquired directly from the producer (farms, for example). These places are represented on the map in form of tags. The main idea is that the map is centered around one’s current location.
<br \>
The map is interactive (can be zoomed, moved), and by hovering or clicking the tags, user can easily see more detailed information about the shop: address, opening hours, product categories offered, the distance to the places of production. 
<br \><br \>
Places shown on the map can also be filtered according to specific needs and interests. One can choose a shop category (market rather than a supermarket), or see only those places where certain product categories can be found (shops offering milk products).
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	          User-generated content
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse">
	      <div class="panel-body">
	      This website is a platform for / an interface among different actors of the local economy. Therefore we stick to the user-generated content, which implements the principle of „customer to customer”. The places appearing in our map are mainly selected by us and our users themselves. In order to add a place selling local products please click <a href= "/addShop">here</a>.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
	          Presentation
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFive" class="panel-collapse collapse">
	      <div class="panel-body">
			
			<iframe src="https://docs.google.com/presentation/d/1hUNOxEECRvO559Q_o8keSbChsyWGGAdK_UATgK4pb44/embed?start=false&loop=false&delayms=3000" frameborder="0" width="920" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	      </div>
	    </div>
	  </div>
	</div>

</div>

