<% content_for :javascript_includes do %>
    <%= javascript_include_tag "home/map_home.js" %>
<% end %>
<div class="infoDiv" id="homePageText">
	<h1>Über das Projekt</h1>
	<div class="panel-group" id="accordion">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
	          Das Ziel
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in">
	      <div class="panel-body">
	        <span>Nullkilometer</span> ist eine Initiative, die zielt, Nachhaltiges Konsum in unserer Gesselschaft zu unterstützen. Dafür bieten wir ein karten-basiertes Web-Tool, das Leuten einen möglichkeit gibt schnell Lokale Produkte in ihren Näher zu finden. Konkret ausgedrückt ist unser Ziel:<br \>
			„eine strukturierte, übersichtliche Webseite mit Informationen zu lokalen Produkten”<br \>
			Diese Webseite ermöglicht eine intuitive, informative und einfache Suche nach Informationen über lokale Ressourcen für das alltägliche Leben. Prinzipiell geht es um Lebensmittel, die in der näheren Umgebung hergestellt werden.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
	          “Lokal” vs “Regional”
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse">
	      <div class="panel-body">
	        Eine bereits von uns durchgeführte Umfrage zeigte, dass die meisten Leute bei 
	Lebensmitteln „lokal” mit „regional” gleichsetzen. Daher möchten wir dem Nutzer die 
	Freiheit geben, selber zu bestimmen was für ihn „lokal” ist. Auch wenn wir damit von 
	einem selbst-bestimmten / mündigen Verbraucher ausgehen, so möchten wir ihn da-
	bei durch von uns erarbeitete „Leitlinien” nicht in Gänze alleine lassen. Außerdem lässt 
	sich so eine gewisse Vergleichbarkeit schaffen.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
	          “User-generated content”
	        </a>
	      </h4>
	    </div>
	    <div id="collapseThree" class="panel-collapse collapse">
	      <div class="panel-body">
	        Die von uns zu schaffende Webseite soll eine Plattform für die – oder auch Schnitt-
	stelle zwischen den – verschiedenen Akteuren lokalen Handels sein. Deswegen setzen 
	wir unter anderem auch auf User-generated Content, was das Prinzip „von Kunden 
	für Kunden” umsetzt.
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
	          Presentation
	        </a>
	      </h4>
	    </div>
	    <div id="collapseFour" class="panel-collapse collapse">
	      <div class="panel-body">
			
			<iframe src="https://docs.google.com/presentation/d/1hUNOxEECRvO559Q_o8keSbChsyWGGAdK_UATgK4pb44/embed?start=false&loop=false&delayms=3000" frameborder="0" width="920" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	      </div>
	    </div>
	  </div>
	</div>

</div>

