<% if @point_of_interest.type == "PointOfSale" %>
	<h1> <%= I18n.t("headers.new_selling_point") %> </h1>
	<%= render 'point_of_sales/form', object: @point_of_interest %>
<% elsif @point_of_interest.type == "PointOfProduction" %>
	<h1> <%= I18n.t("headers.new_production_point") %> </h1>
	<%= render 'point_of_productions/form', object: @point_of_interest %>
<% end %>