<!-- takes @market_stalls from the controller's method "index" and passes as local variable-->
<div class="infoDiv profileWrapper" >
	<%= render partial: "market_stalls/index", locals: { market_stalls: @market_stalls } %>
</div>