$buttonColor1: #D5D0A4;
$corner-radius: 5px;
$mapFilterWidth: 670px;
$mapFilterHeight: 470px;
$zIndexMapElements: 1001;
$transparentBackground: rgba(255, 255, 255, 0.8);
$infoboxWrapperWidth: 420px;
$infoboxWidth: 400px;

.map {
	.content-wrapper {
		padding: 0px;
	}

	.contentContainer {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	#mapFilterContainer,
	#addShop,
	#locationResultPopup,
	#addressLookupContainer {
		position: absolute;
	}

	#mapContainer {
		/*margin-top:50px;*/
		z-index: 1;
		position: relative;
		top: 0px;
		left: 0;
		width: 100%;
		height: 100%;
		padding:  0px;

		#map {
			height: 100%;
		}

		#mapFilterContainer {
			left: 0px;
			z-index: $zIndexMapElements;
			padding: 0px;
			margin-top: 50px;
			#mapFilter {
				display: none;
				border: none;
				border-bottom: none;
				background-color:rgba(255,255,255,0.8);
				> div {
					margin-left: 0px;
				}
				#closeButtonFilter{
					position: absolute;
					right:0px;
					top:0px;
					float:right;
					padding-right: 5px;
					font-weight: bold;
					cursor:pointer;
					font-size:20px;
					color: $orangeTextColor;
					&:hover{
						color: $backgroundColor;
					}
				}
				.what, .where{
					float: left;
					margin: 0px;
				}
				.what, .where, .when { 
					p{
						@media only screen and (min-width: 500px) { font-size: 20px; }
						@media only screen and (max-width: 500px) { font-size: 16px; }
						
						font-weight: bold;
						margin: 10px 0px 0px 10px;
					}
					ul {
						font-size: 12px;
						margin: 10px 20px 0px 10px;
						width: 100%;
						padding: 0px 0px 5px 0px;
						li {
							input{
								vertical-align: middle;
								margin-right: 10px;
							}
							&:hover {
								cursor:pointer;
							}
							@media only screen and (min-width: 500px) { 
								height: 45px; 
								line-height: 45px;
								font-size: 13px;
								input[name="productCategory"], input[name="shopTypeId"] {
									height: 35px;
								}	
							}
							@media only screen and (max-width: 500px) { 
								height: 35px; 
								line-height: 35px;
								font-size: 12px;
								input[name="productCategory"], input[name="shopTypeId"] {
									height: 30px;
								}
							}
						}	
					}
				}
				.when {
					ul > li{
						height: 40px; 
					}
				}
			}
			#mapFilterButton{
				float: right;
				min-width: 320px;
				font-weight: bold;
			    font-size: 17px;    
			}
		}
		#sideBarForDragging {
			position: absolute;
			right: 0px;
			width: 34px;
			height: 100%;
			background-color: $backgroundColor;
			z-index: 2;
		}

		#addressLookupContainer {
			width: 283px;
			bottom: 20px;

			#locationInput,#locationSubmit{
				top: 0px;
			}
			#locationInput{
				background: $transparentBackground;
				border: 1px solid rgb(204, 204, 204);
				width: 250px;
				right: $buttonAndInputHeight;			
				@include roundedCorners(0px 0px 0px $corner-radius);
				position: absolute;
				padding: 0 5px;
				background: $transparentBackground;
				@include placeholderColor(rgb(110,110,110));
			}
			#locationSubmit {
				width: $buttonAndInputHeight;
				padding: 0px;
				/*border-left: 1px solid rgb(204, 204, 204);*/
				border-bottom: 1px solid rgb(204, 204, 204);
				color: black;
			}
		}

		#locationResultPopup {
			display: none;
			z-index: 11;
			width: 100%;
			padding: 20px 0px 20px 0px;
			background-color: white;
			@include boxShadow(10px, #aaa);
			@include roundedCorners_bottom(10px);
			p, ul {
				margin-left: 20px;
			}
			a:hover{
				background: none;
				color: $backgroundColor;
			}
		}
	}

	.leaflet-control-container{
		position: absolute;
		top: 40%;
		right: 0px;
		width: $buttonAndInputHeight;
		margin: 0;
		z-index: 10;

		.leaflet-control-attribution{
			display: none;
		}

		.leaflet-bar {
			border-right: 0px none;
			border-top: 0px none;
			overflow: hidden;
			margin: 0 !important;
			@include roundedCorners(0px 0px 0px $corner-radius);
			@include boxShadowFullControll(none);

			a {
				@include roundedCorners(0px);
				width: $buttonAndInputHeight;
				height: $buttonAndInputHeight;
				background: $transparentBackground;
				text-align: center;
				line-height:$buttonAndInputHeight;
				&:hover{
					width: $buttonAndInputHeight;
					height: $buttonAndInputHeight;
					text-align: center;
					line-height:$buttonAndInputHeight;
				}
			}
		}
		.leaflet-bar-part-top {
			@include roundedCorners(0px);
		}

		.leaflet-bar-part-bottom {
			@include roundedCorners(0px);
		}
	}

	/* map infbox styling */

	#hiddenInfoboxContentContainer{
		display: none;
	}

	.leaflet-popup-content-wrapper{
		width: $infoboxWrapperWidth;
	}

	.leaflet-popup-content{
	  margin: 4px 14px 14px 14px !important;
	}

	.leaflet-container a.leaflet-popup-close-button{
		font: 30px/28px Tahoma, Verdana, sans-serif;
		width: 30px;
		height: 28px;
	}

	#infoboxContent{
		width: $infoboxWidth;
		font-size:13px;
		div{
			border-bottom: 1px solid #eee;
			padding: 7px 0px 7px 0px;
		}
		div:last-child{
			border-bottom: 0px;
			height: 10px;
		}
		.footer a{
			float: right;
		}
		ul, address{
			margin: 0px;
			padding: 0px;
		}
	} 

	/* map infobox styling end */

	footer {
		position: fixed;
		bottom: 0px;
	}

	@media only screen and (min-width: 500px) { 
		#mapContainer {
			//margin-top:50px;
		}
		#sideBarForDragging{
			display: none;
		}
		#mapFilter{
			.when{
				margin-left: 466px; /*2 x where/when width*/
			}
			.what, .where, .when{
				li{
					width: 204px;
				}
			}
		}
	}
	@media only screen and (max-width: 500px) { 
		#mapContainer {
			//margin-top:50px;
		}
		#sideBarForDragging{
			display: block;
		}
		span.toHideIfScreenSmall { 
			width: 2px; 
			display: none;
		}
		#mapFilter{
			padding: 0px;
			.what, .where, .when{
				padding-right: 0px;
			}
			.when {
				margin-left: 180px;
				li {
					width: 120px;
				}
			}
		}		
	}

}	

