$buttonAndInputHeight: 35px;
$buttonColor1: #D5D0A4;
$corner-radius: 5px;
$mapFilterWidth: 550px;
$mapFilterHeight: 470px;
$zIndexMapElements: 1001;
$transparentBackground: rgba(255, 255, 255, 0.8);
$infoboxWrapperWidth: 420px;
$infoboxWidth: 400px;

.map {
	header {
		.container {
			width: 100%;
		}

		#logo {
			margin-left: 20px;
		}
	}

	.contentContainer {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}

	#mapFilterContainer,
	#addShop,
	#locationResultPopup,
	#addressLookupContainer {
		position: absolute;
		top: 50px;
	}

	#addAPlaceButton{
		padding: 0px 20px 0px 20px;
		/* &:hover { background-color: #00aa00} */
	}
	#mapFilterButton{
		width:600px;
		font-weight: bold;
	    font-size: 17px;    
	}

	#mapFilterContainer {
		left: 0px;
		z-index: $zIndexMapElements;
		padding: 0px;

		#mapFilter {
			@include roundedCorners(0px 0px $corner-radius 0px);
			background-color:rgba(255,255,255,0.8);
			padding: 10px;
			.row {margin-left: 0px;}
			.span2{
				width: 180px;
				margin:0px;
				p{
					font-size: 20px;
					font-weight: bold;
					margin: 10px 0px 0px 10px;
				}
				ul{
					font-size: 12px;
					margin: 10px 20px 0px 10px;
					width: 100%;
					padding: 0px;
					li{
						height: 50px; 
						line-height: 50px;
						vertical-align:middle;
						&:hover {
							cursor:pointer;
						}

						
					}
				}
			}
			.span2:first-child {
				width: 220px;
			}
		}
	}

	.customHomeButton{
		height: $buttonAndInputHeight;
		background-color: $transparentBackground;
	    &:hover { background-color: $buttonColor1; color: #fff }
	    padding: 0px;
	    border: solid 1px #bbb;
	    border: none;
	    color: #555;
	    @include roundedCorners(0px 0px 20px 0px);
	}

	#addShop {
		left: 620px;
		z-index: 11;

		a {
			width: 250px;
			@include roundedCorners(0px 0px $corner-radius $corner-radius);
		}
	}

	#addressLookupContainer {
		float: right;
		right: 0px;
		z-index: $zIndexMapElements;

		#locationInput{
			width: 150px;
			height: 30px;
			@include roundedCorners(0px 0px 0px $corner-radius);
		}

		#locationSubmit {
			height: 20px;
		}
	}

	#locationResultPopup {
		display: none;
		z-index: 11;
		width: 100%;
		padding: 20px 0px 20px 0px;
		background-color: white;
		@include boxShadow(10px, #aaa);
		@include roundedCorners_bottom(10px);

		p {
			margin-left: 20px;
		}
	}

	#mapContainer {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 50px 0;
	}

	#map {
		height: 100%;
	}

	/* map infbox styling */

	#hiddenInfoboxContentContainer{
		display: none;
	}

	.leaflet-popup-content-wrapper{
		width: $infoboxWrapperWidth;
	}
	.leaflet-popup-content{
	  margin: 4px 14px 14px 14px !important;
	}
	.leaflet-container a.leaflet-popup-close-button{
		font: 30px/28px Tahoma, Verdana, sans-serif;
	}


	#infoboxContent{
		width: $infoboxWidth;
		font-size:13px;
		div{
			border-bottom: 1px solid #eee;
			padding: 7px 0px 7px 0px;
		}
		div:last-child{
			border-bottom: 0px;
			height: 10px;
		}
		.footer a{
			float: right;
		}
		ul, address{
			margin: 0px;
			padding: 0px;
		}
		
	} 

	/* map infobox styling end */

	.leaflet-control-container{
		position: absolute;
		top: 30px;
		right: 43px;
		margin: 0;

		.leaflet-control-attribution{
			display: none;
		}

		.leaflet-bar {
			border-right: 0px none;
			border-top: 0px none;
			@include roundedCorners(0px 0px 0px $corner-radius);
			overflow: hidden;
		}

		.leaflet-bar-part-top {
			@include roundedCorners(0px);
		}

		.leaflet-bar-part-bottom {
			@include roundedCorners(0px);
		}
	}

	.leaflet-control-zoom {
		margin: 0;

		a {
			width: 42px;
			height: 28px;
		}
	}
}
	