$buttonColor1: #D5D0A4;
$corner-radius: 5px;
$mapFilterWidth: 670px;
$mapFilterHeight: 470px;
$zIndexMapElements: 1001;
$transparentBackground: rgba(255, 255, 255, 0.8);
$infoboxWrapperWidth: 420px;
$infoboxWidth: 400px;

$minHeightMap: 665px;

.map {

	#mapContainerParent{
		height: 100%;
		min-height: $minHeightMap;
	}

	#mapFilterContainer {
		position: relative;
		margin-top:65px;
		z-index: 2;

		#mapFilterMobile, #mapFilter{
			background-color: #fff;
		}

		#mapFilterMobile{
			z-index: 1;
			ul {
				padding-left: 10px;
			}
			#mapFilterButtonMobile{
				border: none;
				background-color: transparent;
				width: 80%;
			}
			#filterInstructions{
				font-size: 10px;
			}
		}
		#mapFilterControls{
			#addressLookupContainer, #mapFilterButton {
				width: 220px;
				z-index: 1;
			}
			#mapFilterButton {
				text-align: left;
			}
			#addressLookupContainer {
				float:right;
				right: 0px;
				#locationSubmit {
					width: $buttonAndInputHeight;
					color: black;
				}
			}
			> div {
				padding: 0px;
				//TODO: shit
				z-index: 2;
			}
		}
		#mapFilter {
			margin-top: 15px;
			display: none;
			border: none;
			border-bottom: none;
			> div {
				margin-left: 0px;
			}
		}
		#filterInstructions{
				margin: 10px 10px 0px 10px !important;
				color: gray;
		}
		.what, .where, .when { 
			p{
				height: 45px;
				line-height: 45px;
				font-style: italic;
				margin: 0px;
			}
			ul {
				padding: 0px;
				width: 200px;
				li {
					width: 200px;
					input{
						vertical-align: middle;
						margin-right: 10px;
					}
					&:hover {
						cursor:pointer;
					}
					@media only screen and (min-width: 500px) { 
						height: 45px; 
						line-height: 45px;
						font-size: 13px;
						input[name="productCategory"], input[name="shopTypeId"], input[name="openingDay"] {
							height: 35px;
						}	
					}
					@media only screen and (max-width: 500px) { 
						height: 35px; 
						line-height: 35px;
						font-size: 12px;
						input[name="productCategory"], input[name="shopTypeId"], input[name="openingDay"] {
							height: 30px;
						}
					}
				}	
			}
		}
	}

	#mapContainer {
		z-index: 0;
		position: absolute;
		top:0px;
		height: 100%;
		min-height: $minHeightMap; //not less than an open filter
		
		width: 100%;
		#map {
			height: 100%;
		}
	}

	/*infobox?*/
	.leaflet-control-container{
		position: absolute;
		top: 40%;
		right: 0px;
		width: $buttonAndInputHeight;
		margin: 0;
		z-index: 10;

		.leaflet-control-attribution{
			display: none;
		}

		.leaflet-bar {
			border-right: 0px none;
			border-top: 0px none;
			overflow: hidden;
			margin: 0 !important;
			@include roundedCorners(0px 0px 0px $corner-radius);
			@include boxShadowFullControll(none);

			a {
				@include roundedCorners(0px);
				width: $buttonAndInputHeight;
				height: $buttonAndInputHeight;
				background: $transparentBackground;
				text-align: center;
				line-height:$buttonAndInputHeight;
				&:hover{
					width: $buttonAndInputHeight;
					height: $buttonAndInputHeight;
					text-align: center;
					line-height:$buttonAndInputHeight;
				}
			}
		}
		.leaflet-bar-part-top {
			@include roundedCorners(0px);
		}

		.leaflet-bar-part-bottom {
			@include roundedCorners(0px);
		}
	} 

	/* map infbox styling */

	.leaflet-popup-content-wrapper{
		width: 100%;//$infoboxWrapperWidth;
	}

	.leaflet-popup-content{
	  margin: 4px 14px 14px 14px !important;
	}

	.leaflet-container a.leaflet-popup-close-button{
		font: 30px/28px Tahoma, Verdana, sans-serif;
		width: 30px;
		height: 28px;
	}

	#infoboxContent{
		width: 100%;
		font-size:13px;
		div{
			border-bottom: 1px solid #eee;
			padding: 7px 0px 7px 0px;
		}
		div:last-child{
			border-bottom: 0px;
			height: 10px;
		}
		.footer a{
			float: right;
		}
		ul, address{
			margin: 0px;
			padding: 0px;
		}
	} 

	/* map infobox styling end */

}	

