.formWrapper{
	max-width: 450px;
	margin: auto;
	h4{
		text-align: center;
	}
}

form#new_point_of_sale, form.edit_point_of_sale, form#new_market_stall, form.edit_market_stall {
	margin-bottom: 10px;
	.form-inputs{

		.control-label {
			font-style: italic;
		}

		input[type="checkbox"], input[type="boolean"]{
			vertical-align: middle;
			height: 20px;
			width: 20px;
			margin-right: 5px;
			margin-left: -23px;
		}

		input[type="text"], /*TODO: maybe this is not needed, cuz the following is enough*/
		input.string, textarea {
			@media only screen and (min-width: 500px) { 
				width: 400px;
			}
			@media only screen and (max-width: 500px) { 
				width: 250px;
			}			
		}

		.timeTextInput {
			width: 100px;
		}

		#openingTimesContainer{ 
			padding-left: 0px;
			.openingDayContainer{
				padding-left: 20px;
				min-height: 70px;
				label {
					font-weight: normal;
				}
				.point_of_sale_opening_times_day{
					width: 120px;
					height: 25px;
				}
				.point_of_sale_opening_times_from, .point_of_sale_opening_times_to{
					label{
						margin: 0px 10px;
						float: left;
					}
					.controls{
						float:left;
					}
				}
				.hidden{
					display: none;
				}
				abbr[title=required]{
					display: none;
				}
			}
			.grayedOut{
				color: #666;
				min-height: 25px;
			}
		}
		.marketStalls ul{
			margin: 10px 10px 0px 10px;
			li {
				margin-bottom: 5px;
			}
		}
	}

	/*map styling*/
	#formPosMapContainer{

		position: relative;
		padding: 10px;
		background-color: #eee;		


		#formPosMap{
			position: relative;
			height: $textInputWidth;
			width: $textInputWidth;

			.leaflet-control-container{
				position: relative;
				top: 20%;
			}
		}

		#locationSearchResults {
			padding-bottom: 10px;
			p, ul {
				margin-left: 20px;
			}
		}

		#addressLookupContainer {
			position: absolute;
			width: 283px;
			z-index: 1;

			#locationInput, #locationSubmit{
				top: 0px;
			}
			#locationInput{
				background: $transparentBackground;
				border: 1px solid rgb(204, 204, 204);
				width: 250px;
				right: $buttonAndInputHeight;			
				@include roundedCorners(0px 0px 0px $corner-radius);
				position: absolute;
				padding: 0 5px;
				@include placeholderColor(rgb(110,110,110));
			}
			#locationSubmit {
				width: $buttonAndInputHeight;
				padding: 0px;
				border-bottom: 1px solid rgb(204, 204, 204);
				color: black;
			}
		}
	}
}


.places_overview, .market_stalls_overview{
	.not-approved{
		color: #ff0000 !important; //red
	}
	.approved{
		color: #00aaaa !important; //green
	}
	.pending{
		color: #eeaa00 !important; //yellow
	}
}	

.market_stalls_overview{
	font-size: small;
	table{
		font-size: small;
	}
}


