.places_overview, .market_stalls_overview{
	.not-approved{
		color: #ff0000 !important; //red
	}
	.approved{
		color: #00aaaa !important; //green
	}
	.pending{
		color: #eeaa00 !important; //yellow
	}
}	

.market_stalls_overview{
	font-size: small;
	table{
		font-size: small;
	}
}


