$profilePageWrapperWidth: 100%;
$mapHeight: 400px;
$mapWidth:	100%;

.profileWrapper{
	h1{
		text-align: left;
	}
	#editPosLinkWrapper{
		text-align: right;
	}
	ul{
		padding-left: 0px;
	}
}


.bordered{
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

#editProfilePageContainer{
	label[for=name]{
		font-size: 18px;
		font-weight: bold;
	}
}

#openingDaysAndTimesList{
	.row{
		border: none;
	}
}

span.openingTimeDay{
	display: inline-block;
	width: 100px;
	margin-right: 10px;
	font-weight: normal;
}


/* market stalls styling */
#profilePagePosMap{
	height: $mapHeight;
	width: $mapWidth;
}


#marketStallsTitle{
	label{
		font-size: 18px;
	}
	padding-top: 10px;
	border-top: 1px solid #aaa;
}
.helperContainer{
	display: none;
}

.accordion-group{
	margin-top:2px;
	border: none;
}
.accordion-heading{
	background: $buttonColor0;
	color: #444;
	:hover{
		background: #fff;
		color: #666;
	}
	a, a:visited{
		color: #444;
		font-weight: bold;
		font-size: large;
	}
	line-height: 35px;
	vertical-align: middle;
	padding-left: 10px;
}
.accordion-inner{
	padding: 15px;
	border: 1px solid #e5e5e5;
	border-top:0px;
	label{
		word-break: break-word;
	}
}

#editMarketStallsButtonRow{
	margin-top: 40px;
	ul{
		display: inline;
	}
	li{
		padding-right:30px;
		float:left;
	}
	li:last-child{
		float: right;
	}
	li:first-child{
		font-size: 30px;
		font-weight: bold;
		padding-bottom: 10px;
	}
}

.ui-dialog{

	@include boxShadow(10px, #aaa);

	@include roundedCorners(10px);
	overflow: none;
	width: 400px !important;

	.ui-dialog-titlebar, .ui-widget-header{
		display: none;
	}
	#dialog-confirm{
		min-height: 20px;
	}
	button{
		height:30px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
		
/* market stalls styling end */

