// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.


//= require jquery
//= require jquery_ujs
//= require jquery.ui.all

//= require jquery.turbolinks

// Loads all Bootstrap javascripts
//= require bootstrap
//= require jquery.timepicker.js
//= require leaflet
//= tree

//= require spin
//http://dhampik.com/blog/javascript-i18n-rails
//= require i18n
//= require i18n/translations

//= require rails.validations
//= require rails.validations.simple_form

//= require turbolinks


var INITIALLAT = 52.5233,
INITIALLON = 13.4127,
ZOOMONMARKERLEVEL = 17,

//used in /add_apos/... and /point_of_interests/edit.js
MARKETINDEX = 0,

iconImageLocation =  "../assets/images/map_icons/",
shopTypeIconImageLocation = iconImageLocation + "shop_categories/",
shopTypeIconImageUrls = ["0.png", "1.png", "2.png", "3.png", "4.png"],
shopTypeIconImageUrlDefault = "default.png",
userIconImageLocation = iconImageLocation + "user.png";


var shopTypeNames, productCategoryNames, weekDayNames, moreInfoLinkName, enterAnAddressText;
/**
* Is called in home.js file, which is the first js file to load
* and it is loaded after the locale (I18n.locale) has been set
*/
var translateContent = function(){
	shopTypeNames =  I18n.t("point_of_sale.pos_type_names"),
	productCategoryNames = I18n.t("product.category_names"),
	weekDayNames =  I18n.t("date.day_names"),
	moreInfoLinkName = I18n.t("links.global.more_information");
	enterAnAddressText = I18n.t("input.commands.choose_an_address");
};

var callAjax = function(url, dataToSend, onSuccess){
	$.ajax({
        type: "GET",
        url: url,
        data: dataToSend,
        dataType: "json",
        success: onSuccess,
        error: function(xhr, error){
            console.debug(xhr); console.debug(error);
        }
    }).done(function() {
    });
}

var ajaxCallOSM = function(url, dataToSend, onSuccessFunction){
	$.ajax({
		type: 'GET',
		url: url,
		data: dataToSend,
		dataType: 'json',
		success: onSuccessFunction,
		error: function(jqXHR, textStatus, errorThrown){
			$('#locationSearchResults').html('<div>Something went wrong while communicating with nomination.openstreetmaps.org</div>');
			console.warn("searching in OSM DB failed: "+textStatus+": "+jqXHR+" - "+errorThrown);
		}
	});
}


var registerLocationSearch = function(buttonSelector, inputSelector, resultsSelector, onSuccessFunction){
	buttonSelector.click(function(event){
		event.preventDefault();
		resultsSelector.html('');
		var input = inputSelector.val();
		if(input.trim() != ""){
			// $('#newPosMap').append('<img alt="Loading" id="loading-animation" src="//'+window.location.host+'/assets/ajax-loader.gif" />');
			var dataToSend = {
				format: 'json',
				q: input,
				polygon: 0,
				addressdetails: 0
			};
			ajaxCallOSM('http://nominatim.openstreetmap.org/search', dataToSend, onSuccessFunction);
		}
		inputSelector.val("");
	});
	inputSelector.keyup(function(event){
		if(event.keyCode == 13){
			buttonSelector.click();
		}
	});

}

