/**
	Syntax taken from: http://www.paulirish.com/2009/bulletproof-font-face-implementation-syntax/
*/
@font-face {
    font-family : 'Ubuntu';
    font-style: normal;
    src: local('Ubuntu'), local('Ubuntu-R'), 
    		url('/assets/fonts/Ubuntu-R.ttf') format('truetype');
}

@font-face {
    font-family : 'Vollkorn';
    font-style: normal;
    src: url('/assets/fonts/vollkorn/vollkorn-regular.eot');
    src: local('Vollkorn')
    		url('/assets/fonts/vollkorn/vollkorn-regular.woff') format('woff'),
    		url('/assets/fonts/vollkorn/vollkorn-regular.otf') format('opentype'),
    		url('/assets/fonts/vollkorn/vollkorn-regular.ttf') format('truetype');
}

@font-face {
    font-family : 'Vollkorn Semibold';
    font-style: normal;
    src: url('/assets/fonts/vollkorn/vollkorn-semibold.eot');
    src: local('Vollkorn Semibold')
    		url('/assets/fonts/vollkorn/vollkorn-semibold.woff') format('woff'),
    		url('/assets/fonts/vollkorn/vollkorn-semibold.otf') format('opentype'),
    		url('/assets/fonts/vollkorn/vollkorn-semibold.ttf') format('truetype');
}