/**
	typo
*/
$serif: 		"Vollkorn", serif;
$sans-serif: 	"Helvetica Neue", sans-serif; /*"Ubuntu-R";*/
$headerTextSize: 24px;

/**
	colors
*/
$darkTextColor: #444;
$backgroundColor: rgba(213, 208, 164, 1);
$headerColor1: #5b483c;
$headerColor2: #745948;
$buttonAndInputHeight: 34px;
$transparentBackground: rgba(255, 255, 255, 0.8);
$buttonColor0: rgba(231, 231, 199, 1);
$buttonColor1: rgba(213, 208, 164, 0.8);  
$grayDarker: #bbb;
$grayLight: #ddd;
$grayMediumLight: #eee;
$grayVeryLight: #eee;
$ordinaryLinkHover: rgba(116, 89, 72, 1);
$orangeBackgroundColor: rgb(240, 173, 78);/*#ed9c28;*/
$orangeBackgroundColorTransparent: rgba(240, 173, 78, 0.8);/*#ed9c28;*/
$orangeTextColor: rgb(255, 181, 42);
$orangeTextColorTransparent: rgba(255, 181, 42, 0.8);


/**
	Hoehen und Weiten
*/
$headerHeight: 50px;
