$grayMediumLight: #eee;
$grayDarker: #999;
$fontFamilyLogo: 'Fenix';
$backgroundColor: rgba(213, 208, 164, 1);
$headerColor1: #5b483c;
$headerColor2: #745948;
$buttonAndInputHeight: 35px;
$transparentBackground: rgba(255, 255, 255, 0.8);
$buttonColor0: rgba(231, 231, 199, 1);
$buttonColor1: rgba(213, 208, 164, 0.8);  
$grayVeryLight: #eee;
$textFontFamily : "Helvetica Neue",  sans-serif; /*"Ubuntu-R";*/