/**
	typo
*/
$serif: 		"Vollkorn", serif;

$headerTextSize: 24px;
$semi-bold: 600; 

/**
	colors
*/
$darkTextColor: #444;
$backgroundColor: #fff;//rgba(213, 208, 164, 1);
$transparentBackground: rgba(255, 255, 255, 0.8);
$buttonAndInputHeight: 34px;

/*TODO: review*/
$headerColor1: #5b483c;
$headerColor2: #745948;
$buttonColor0: rgba(216, 240, 219, 0.6);
$buttonColor1: rgba(213, 208, 164, 0.8);  
$grayDarker: #bbb;
$grayLight: #ddd;
$grayMediumLight: #eee;
$grayVeryLight: #eee;
$ordinaryLinkHover: rgba(116, 89, 72, 1);
$orangeBackgroundColor: rgb(240, 173, 78);/*#ed9c28;*/
$orangeBackgroundColorTransparent: rgba(240, 173, 78, 0.8);/*#ed9c28;*/
$orangeTextColor: rgb(255, 181, 42);
$orangeTextColorTransparent: rgba(255, 181, 42, 0.8);


/**
	widths and heights
*/
$headerHeight: 50px;
$textInputWidth: 400px;

/**
	shapes
*/
$corner-radius: 5px;