/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require leaflet.css
 *= require jquery.timepicker.css
 *= require jquery.ui.all 
 *= require_tree .
 */


@import 'bootstrap';


/* mixins, variables, etc. */
@import '_mixins';
@import '_global-variables';


@font-face {
    font-family : "Ubuntu-R";
    src: url('/assets/fonts/Ubuntu-R.ttf');
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  color: #aaa;
  padding-top: 50px;
  background-color: $backgroundColor !important;  
  /* http://lea.verou.me/css3patterns/# */
  background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 5px 5px;
  font-family: $textFontFamily;
}

/* navigation bar*/
.navbar-inverse .navbar-inner, .navbar{
    background-image: linear-gradient($headerColor1, $headerColor2);
    height: 50px;
}

a, a:link, a:visited {
  text-decoration: none;
}
a.ordinaryLink, a.ordinaryLink:visited{
  color: #444 !important;
  text-decoration: none !important;
}
a.ordinaryLink:hover, a:hover{
  background-color: transparent !important;
  color: #666; /*  stays the same */
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

button:focus::-moz-focus-inner {
    padding: 3px;
    border: none;

}
input:focus, button:focus{
  outline: none;
}

.contentContainer {
  background-color: $backgroundColor;
  padding: 5px 10px 10px 10px;
  -moz-box-shadow: 0 0px 40px 2px #888;
  -webkit-box-shadow: 0 0px 40px 2px#888;
  box-shadow: 0 0px 40px 2px #888;
}

.hidden{
  display: none;
}

/* header */



#logo {
  font-family: $fontFamilyLogo;
  float: left;
  margin-right: 10px;
  font-size: 30px;
  color: white;
  padding-top:10px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover{
  color: white;
  text-decoration: none;
}

/* links in the header on the right */
#topMenuLinks > li{
  line-height: 30px;
  a {
    font-size: large;
    color: $grayVeryLight;
  }
}

/* footer */

header, footer{
  a:hover {
    text-decoration: none;
    background: none;
  }
}

footer {
	position: relative;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}



.btn-default{
     background-image: linear-gradient(to bottom, #fff, $buttonColor1);
     &:hover { background-color: $buttonColor1 }
}


.infoDiv {
  
  margin: 30px;
  p{
      font-size: 16px;
      line-height: 150%;
      font-family : $textFontFamily;
  }
  span{
    font-weight: bold;
  }
}


/*universal specific styles*/

/*used in infobox and profile page*/

.categoryIcon{
  margin-left: 4px;
}

/*used in home page*/
.customButton{
  height: $buttonAndInputHeight;
  background-color: $transparentBackground;
    &:hover { background-color: $buttonColor1; color: #fff }
    padding: 0px;
    border: solid 1px #bbb;
    border: none;
    color: #555;
    @include roundedCorners_bottomright(20px);
}

.infoHeader{
  width:100%;
  ul{
    margin: 0px;
    padding: 0px;
  }
  li{
    height: 25px;
  }
  li:last-child{
    font-size: 25px;
    font-weight: bold;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
  }
}
