@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eee;
$fontFamilyLogo: 'Fenix';
$backgroundColor: #F7F2C6;
$buttonColor1: #D5D0A4;
$grayVeryLight: #eee;
$textFontFamily : "Ubuntu-R";

@font-face
{
    font-family : "Ubuntu-R";
    src: url('/assets/fonts/Ubuntu-R.ttf');
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  background-color: $backgroundColor !important;  
  /* http://lea.verou.me/css3patterns/# */
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

a, a:link, a:visited {
  text-decoration: none;
}


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


.contentContainer {
  background-color: $backgroundColor;
  padding: 10px;
  -moz-box-shadow: 0 0px 40px 2px #888;
  -webkit-box-shadow: 0 0px 40px 2px#888;
  box-shadow: 0 0px 40px 2px #888;
}


/* header */

#logo {
  font-family: $fontFamilyLogo;
  float: left;
  margin-right: 10px;
  font-size: 30px;
  color: white;
  padding-top:10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover{
  color: white;
}

/* links in the header on the right */
#topMenuLinks > li{
  line-height: 30px;
  a {
    font-size: large;
    color: $grayVeryLight;
  }
}

/* footer */

header, footer{
  a:hover {
    text-decoration: none;
    background: none;
  }
}

footer {
	position: relative;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* naviation bar*/
.navbar-inverse .navbar-inner, .navbar{
    background-image: linear-gradient(rgb(80, 60, 30), rgb(70, 50, 20));
    height: 50px;
}

.btn-default{
     background-image: linear-gradient(to bottom, #fff, $buttonColor1);
     &:hover { background-color: $buttonColor1 }
}


.infoDiv {
  
  margin: 30px;
  p{
      font-size: 18px;
      line-height: 150%;
      font-family : $textFontFamily;
  }
  span{
    font-weight: bold;
  }
}