.header{
	z-index: 1030;
  background-color: white;
  background-image: none;
  margin-bottom:0px;
  min-height: 45px !important;

	#logo{
		float: left;
		padding: 3px 15px;
		img{
			width: 150px;
		}
	}

	.dropdown-toggle{
		background: transparent;
		padding-top: 15px;
		padding-bottom: 15px;
		border: none;
	}
	.dropdown-menu{
		min-width: 0px;
	}

}
