html {
  overflow-y: scroll;
}

body {
  color: #aaa;
  padding-top: 0px;
  background-color: $backgroundColor !important;  
  /* http://lea.verou.me/css3patterns/# */
  background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 5px 5px;
  font-family: $sans-serif;
}

.content-wrapper {
	min-height: 100%;
	padding: 50px 0px;
}

a, a:link, a:visited {
  text-decoration: none !important;
}

a:hover{ 
  background-color: transparent;
}

a.lightLink, a.lightLink:visited{
  /*color: #fff !important;*/
  color: $grayVeryLight;
}

a.ordinaryLink, a.ordinaryLink:visited{
  color: #444 !important;
}

a.lightLink:hover, a.ordinaryLink:hover{
  background-color: transparent !important;
  /*color: $ordinaryLinkHover !important;*/ 
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}

.heading{
    font-size: $headerTextSize;
    font-weight: bold;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}

h1 {
  //font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  /*font-size: 1.1em;
  line-height: 1.7em;*/
}

button:focus::-moz-focus-inner {
    padding: 3px;
    border: none;

}
input:focus, button:focus{
  outline: none;
}

.contentContainer {
  background-color: $backgroundColor;
  padding: 5px 10px 10px 10px;
  -moz-box-shadow: 0 0px 40px 2px #888;
  -webkit-box-shadow: 0 0px 40px 2px#888;
  box-shadow: 0 0px 40px 2px #888;
}

.hidden{
  display: none;
}

.btn-default{
     background-image: linear-gradient(to bottom, #fff, $buttonColor1);
     &:hover { background-color: $buttonColor1 }
}

.infoDiv {
    padding: 15px;
    background-color: rgba(255, 255, 255, 1);
    line-height: 20px;
    margin: 30px;
    font-size: 14px;
    p{
        margin: 10px;
    }
    span{
      font-weight: bold;
    }
}

abbr[title], abbr[data-original-title] {
  cursor: auto;
  border-bottom: 0px dotted #999999;
}

/*universal specific styles*/

/*used in infobox and profile page*/

.categoryIcon{
  margin-left: 4px;
}

/*used in home page*/
.customButton{
  height: $buttonAndInputHeight;
  background-color: $transparentBackground;
    &:hover { background-color: $buttonColor1; color: #fff }
    padding: 0px;
    border: solid 1px #bbb;
    border: none;
    color: #555;

}
.customHomeButton{
    @include roundedCorners(0px 0px 20px 20px);
    height: 40px;
}

.infoHeader{
  ul{
    margin: 0px;
    padding: 0px;
  }
  li{
    height: 25px;
  }
  li:last-child{
    font-size: 25px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis;
  }
}

ul.horizontalList{    
  
  list-style-type: none;
  li{
    display: inline;
  }
  
}