<p><%= I18n.t("custom.mailer.welcome")%> <%= @email %>!</p>

<p><%= I18n.t("custom.mailer.you_can_confirm")%></p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
