<p>
Turite idėjų? <br />
Susidūrėte su techniniais sunkumais mūsų puslapyje? <br />
Norite prisijungti prie mūsų komandos ar palaikyti mūsų idėjas? <br />
Pirmyn! <br />
<br />
	<address>
		Nedvejodami kreipkitės į mus: <a class="ordinaryLink" href="mailto:nullkilometer@gmail.com">nullkilometer@gmail.com</a>.<br> 
	</address>
</p>
