<span>Places on the map.</span>
The map shows places offering local food products in your vicinity. This regards both commercial selling points (for instance, supermarkets) as well as less formal places where these products can be acquired directly from the producer (for example, farmers in the market). These places are represented on the map in tags. The map is centered around your current location and you can change the location by inserting your address (home, office, leisure place, etc) manually to see the local food places nearby. 
