The map is <span>interactive</span> (can be zoomed, moved), and by hovering or clicking the tags, you can easily see more detailed information about the place: address, opening hours, product categories offered, description and recommendations. 

