Žemėlapis yra <span>interaktyvus</span> (gali būti pajudintas bei priartintas), ir spausdami bei judindami pelę ties žymekliais jūs lengvai galite pamatyti detalesnę informaciją apie prekybvietę: adresą, darbo valandas, parduodamų produktų kategorijas, aprašymus ir rekomendacijas.

