Die Karte ist <span>interaktiv</span> d.h., man kann zoomen und sie bewegen. Durch „anklicken“ eines Symbols öffnet sich ein „Info-Reiter“ mit Informationen über jeweilige das Geschäft, wie z.B. Adresse, Öffnungszeiten, Produktkategorien, etc., sowie ein Link zum Profil des Geschäfts.

