<span>Geschäfte auf der Karte.</span>
Das zentrale Objekt der Anwendung stellt eine Strassenkarte dar, auf der Geschäfte, die Produkte aus der Region anbieten, eingezeichnet sind*. Die Karte ist interaktiv und bei Klick auf ein Element erscheint ein Info-Reiter mit Informationen über den Laden (Adresse, Öffnungzeiten, Produktkategorien) und einem link zu Profilseite.
<br />
Orte auf der Karte. Die Straßenkarte stellt Geschäfte dar, die lokal erzeugte Produkte anbieten. Diese ist um den Nutzern, sofern er seinen Standort automatisch bestimmen lässt, zentriert. Alternativ dazu kann auch eine Adresse eingegeben werde, um Anbieter im Umkreis ausfindig zu machen. Als „Geschäft“ bezeichnen wir kommerzielle Verkaufsorte (z.B. Bio-Supermärkte) als auch weniger formale Orte, wo diese Produkte direkt vom Hersteller, wie z.B. vom Bauernhof-Shop, bezogen werden können. 

