<span>Filter.</span>
Es ist möglich die Informationen zu filtern, indem nur die benötigten Infos ausgewählt und damit angezeigt werden. Auf diesem Wege kann die Suche komfortable an die individuellen Bedürfnisse des Nutzers angepasst werden.