<span>Vietos žemėlapyje.</span>
Žemėlapyje pavaizduotos vietos, kurios siūlo vietinius produktus jūsų kaimynystėje. Į tai įeina ir komercinės prekybvietės (pvz. prekybos centrai) ir mažesnės bei neformalios vietos, kur tokie produktai gali būti įsigyti tiesiai iš gamintojo (pvz. ūkininkų turgeliai). Šios vietos pažymėtos žemėlapyje žymelėmis - <i>markers</i>. Žemėlapis orientuotas aplink jūsų buvimo vietą ir jūs galite ją pakeisti įrašydami adresą (namų, darbo vietos ir pan.), kad pamatytumėte vietinio maisto prekybvietes šalia tos vietos.
