<footer class="page-footer">
  <div>
    <small>
      <%= link_to I18n.t('title.main'),   :root %>
      <%= I18n.t('title.by') %>
    </small>
    <nav>
      <ul>
        <li><%= link_to I18n.t('links.global.contacts'), :contacts %></li>
        <li><%= link_to I18n.t('links.global.imprint'), :imprint %></li>
      </ul>
    </nav>
  </div>
</footer>