<footer class="footer">
  <small>
    <a href="">Der Regionaler Einkaufsführer</a>
    von Nullkilometer
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über",   '#' %></li>
      <li><%= link_to "Kontakte", '#' %></li>
      <li><a href="">Impressium</a></li>
    </ul>
  </nav>
</footer>